<h2>Lista de Postagens</h2>
<br>
<a href="/admin/postagens/add"><button class="btn btn-success">Nova Postagem</button></a>

{{postagens}}
{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>Descrição: {{descricao}}</p>
            <small>Data: {{data}}</small><br>
            <small>Categoria: {{categoria}}</small><br>
            <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-2">Editar postagens</button></a>
            <a href="/admin/postagens/deletar/{{_id}}"><button class="btn btn-danger mt-2">Deletar postagens</button></a>
        </div>
    </div>
{{else}}
    <p class="mt-4">Nenhuma postagem registrada!</p>
{{/each}}